*{
	padding: 0px;
	margin: 0px;
	color: #303030;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.clear{
	clear: both;
}
html,body{
	overflow-x: hidden;
}
.body_load_div_image{
	animation: loadDiv 0.8s linear 0s infinite;
}
@keyframes loadDiv{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}